In [ ]:
a = 1
b = 2
if a == 1 : 
    print(a)
    
    if b == 2 :
        print(b)
        
        
        
print('end')

1
2
end

In [8]:
a = 4   
type(a)

int

In [10]:
ch = 'Hello Python'
str1 = "String Chapter"


print("first single sub-stirng is ", ch[0])
print("set of sub-string : ", str1[2:5]);

first single sub-stirng is  H
set of sub-string :  rin

In [11]:
J = 'pagi'
H = '10:00'

print('{}{}'.format(H,J))

10:00pagi

In [ ]:
h = 'Selamat Pagi'

h.upper()

h.lower() 

h.split(',')

['Selamat Pagi']

In [ ]:
#escape character#
#delete space
#type data(data structure - LIST, )


days = ['senin', 'selasa', 'rabu', 'kamis', 'jumat', 'sabtu', 'minggu']
print (days[5])



del(days[0])



days.append('minggu1')

print(days)

#dictonary 
siswa = {'0001': 'Budi', '0002': 'Ani', '0003': 'Siti'}

print(siswa['0002'])
del(siswa['0001'])


print(siswa)

sabtu
['selasa', 'rabu', 'kamis', 'jumat', 'sabtu', 'minggu', 'minggu1']
Ani
{'0002': 'Ani', '0003': 'Siti'}

In [19]:
print(dir(days))

print(days.__doc__)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [ ]:
siswatuple = ('0001', '0002','0003')

print(siswatuple[1])

b.count()

In [20]:
data_mahasiswa = [
    ("Alice", "85", True, ["Python", "Java"]),
    ("Bob", "92.5", False, ["HTML", "CSS", "JS"]),
    ("Charlie", "78", True, ["SQL", "Python"]),
    "total_mahasiswa:3,semester:5"
]

In [21]:
product_data = {
    "produk": {
        "elektronik": [("laptop", 15000000), ("mouse", 150000), ("keyboard", 300000)],
        "makanan": [("roti", 5000), ("susu", 12000), ("telur", 25000)]
    },
    "diskon": {"elektronik": 0.1, "makanan": 0.05},
    "stok": "laptop:5,mouse:20,keyboard:8,roti:50,susu:30,telur:100"
}

# TODO:

# 1. Hitung total harga semua produk elektronik setelah diskon

# 2. Parse string stok menjadi dictionary dengan value bertipe data integer

# 3. Cari produk dengan stok paling banyak

In [25]:
total_harga_awal_elektronik = sum(harga for produk, harga in product_data["produk"]["elektronik"])
diskon_elektronik = product_data["diskon"]["elektronik"]
harga_setelah_diskon = total_harga_awal_elektronik * (1 - diskon_elektronik)

print("Rp : ", harga_setelah_diskon)

Rp :  13905000.0

In [27]:
#2. Parse string stok menjadi dictionary dengan value bertipe data integer
stok_string = product_data["stok"]
stok_dict = dict(item.split(":") for item in stok_string.split(","))
stok_dict = {produk: int(jumlah) for produk, jumlah in stok_dict.items()}

print(stok_dict)

{'laptop': 5, 'mouse': 20, 'keyboard': 8, 'roti': 50, 'susu': 30, 'telur': 100}

In [28]:
#cari produk dengan stok paling banyak
produk_terlaris = max(stok_dict, key=stok_dict.get)
print("Produk dengan stok paling banyak:", produk_terlaris)

Produk dengan stok paling banyak: telur

In [ ]:


total_harga_awal_elektronik = sum(harga for produk, harga in product_data["produk"]["elektronik"])

# 2. Mengambil nilai diskon untuk kategori "elektronik".
#    Nilai diskon direpresentasikan sebagai desimal (0.10 berarti 10%).
diskon_elektronik = product_data["diskon"]["elektronik"]

# 3. Menghitung harga akhir setelah diskon diterapkan.
#Harga Awal * (1 - Persentase Diskon)
#    Contoh: 100.000 * (1 - 0.10) = 100.000 * 0.90 = 90.000
harga_setelah_diskon = total_harga_awal_elektronik * (1 - diskon_elektronik)

# --- Akhir Baris Kode Anda ---


# Menampilkan hasil perhitungan agar mudah dibaca
print(f"Daftar Produk Elektronik:")
for produk, harga in product_data["produk"]["elektronik"]:
    print(f"- {produk}: Rp {harga:,.0f}")

print("-" * 30)
print(f"Total Harga Awal Elektronik: Rp {total_harga_awal_elektronik:,.0f}")
print(f"Diskon: {diskon_elektronik * 100:.0f}%")
print(f"Harga Akhir Setelah Diskon: Rp {harga_setelah_diskon:,.0f}")

Daftar Produk Elektronik:
- laptop: Rp 15,000,000
- mouse: Rp 150,000
- keyboard: Rp 300,000
------------------------------
Total Harga Awal Elektronik: Rp 15,450,000
Diskon: 10%
Harga Akhir Setelah Diskon: Rp 13,905,000

In [ ]:
data_mahasiswa = [
    ("Alice", "85", True, ["Python", "Java"]),
    ("Bob", "92.5", False, ["HTML", "CSS", "JS"]),
    ("Charlie", "78", True, ["SQL", "Python"]),
    "total_mahasiswa:3,semester:5"
]

# TODO:
# 1. Unpack data mahasiswa pertama dan convert nilai ke float

# 2. Hitung rata-rata nilai dari 3 mahasiswa
# 3. Parse string terakhir menjadi dictionary
# 4. Gabungkan semua skill unik dari mahasiswa aktif (status=True), hasil akhir dalam bentuk list

In [39]:
mhs1 = data_mahasiswa[0]
print(mhs1)

nilai_mhs1 = float(mhs1[1])
print(nilai_mhs1)

('Alice', '85', True, ['Python', 'Java'])
85.0

In [41]:
# 2. Hitung rata-rata nilai dari 3 mahasiswa
mhs = data_mahasiswa[:3]  # Ambil hanya tuple mahasiswa
rata_rata = sum(float(mhs[i][1]) for i in range(len(mhs))) / len(mhs)
print(rata_rata)

85.16666666666667

In [46]:
# 3. Parse string terakhir menjadi dictionary
last_string = data_mahasiswa[-1]
print(last_string)
last_string = dict(item.split(":") for item in last_string.split(","))

print(last_string)

total_mahasiswa:3,semester:5
{'total_mahasiswa': '3', 'semester': '5'}

In [50]:
# 4. Gabungkan semua skill unik dari mahasiswa aktif (status=True), hasil akhir dalam bentuk list
skills = set()
for mhs in data_mahasiswa:
    if mhs[3] == 'True':
        skills.update(skill.strip() for skill in mhs['skills'].split(","))
        
print(list(skills))

[]